<!DOCTYPE html>
<html>
  <head>
    <title>View Images</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>All Uploaded Images</h1>
        <a href="/"><button>Back to Main Menu</button><br></a>
	<br>
        {{#images}}	
	
	<a href="/user/{{user}}/images/{{uuid}}" method="GET">
	<img src = "https://s3.us-east-2.amazonaws.com/{{bucketName}}/{{uuid}}" width="250px" height="auto"/>
	</a>

	<form action="/user/{{user}}/deleteimage/{{uuid}}" method="GET">
                <button type="submit" name="deleteimage" value="{{uuid}}">Delete</button>
        </form>
	<br>
        {{/images}}
        </ul>
	<br>
  </body>
</html>
